// Define variables for your color scheme

// For example:
$red: #EA3E4E;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$purple: #bf60e8;
$gray: #747474;
// $dark-gray: ;
$light-gray: #f9f1f1;
