// Define variables for your color scheme

// For example:
$red: #EA3E4E;
$blue: #7977e7;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$purple: #994A90;
$gray: #757575;
$dark-gray: #494949;
$light-gray: #ececec;
$pink: #CB3B79;
