// Import page-specific CSS files here.
@import "home";
.main-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.results-wrap {
  padding-right: 40px;
}


.title-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;

  h1 {
    font-size: 32px;
  }
}
