<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Share the <i class="fas fa-heart"></i> with Level-Up
    <%= link_to root_path do %>
      <%= image_tag "logo.png", :class => "footer-logo" %>
    <% end %>
  </div>
</div>
