
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593693846895-ce517794788f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <div class="banner-text">
      <h1>Welcome to Level-Up</h1>
      <p>Share the fun!</p>
      <%= link_to games_path, class: "btn btn-flat" do %>
        Let's-a go!
      <% end %>
    </div>
     <%# <img src="pngegg.png" class="banner-png" /> %>
  </div>
</div>
