
<div class=”container”>
<h1>Nav Bar</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593693846895-ce517794788f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <div class="banner_text">
      <h1>Level-Up</h1>
      <p><strong>Share the fun!</strong></p>
      <a class="btn btn-flat" href="#">Lets-a-go!</a>
    </div>
  </div>
</div>

<div class=”container”>
<h1>Footer</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
