<h1> All games </h1>
<% @games.each do |game| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2> <%= link_to game.name, game_path(game) %></h2>
  <h2><%= game.category %></h2>
  <h2><%= game.location %></h2>
  <h2><%= game.price_per_day %></h2>
<div class="card-product">
  </div>
</div>
<% end %>
