.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  padding-bottom: 35px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.banner_text{
  position: relative;
  left: 317px;
  bottom: 52px;
  text-align: center;

}
