.banner {
  background-size: cover;
  background-color: white;
  background-position: center;
  // background-image: url('../../');
  // padding: 150px 0;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// .banner-elements {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

#banner-image {
  height: 480px;
}

.banner-text {
  display: flex;
  flex-direction: column;

  .text-title {
    display: flex;
    justify-content: start;
  }

  h1 {
    margin: 0;
    color: #EA3E4E;
    font-size: 40px;
    font-family: 'Righteous';
    margin-bottom: 0px;
  }

  h2 {
    font-size: 42px;
    color: $gray;
    font-family: 'Bree Serif';
    margin-right: 8px;
    margin-bottom: 0px;
  }

  p {
    color: $gray;
    font-size: 20px;
    font-family: 'DM Sans';
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.btn-to-games {
  color: white;
  background-color: $red;
  border: 1px solid white;
  padding: 12px 32px;
  border-radius: 30px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  font-family: 'DM Sans';
  width: fit-content;
}

.btn-to-games:hover {
  background-color: $blue;
  color: white;
  transition: 1.2s;
  }
