.booking_banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.booking_banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Righteous';
}


.booking_banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Righteous';
}



.btn-booking {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #EA3E4E;
  transition: background 0.3s ease;
  border: 1px solid #ef4e5e;;

}

.btn-booking:hover {
  background: #EA3E4E;;
  color: white;
  opacity: 0.5;
}

.center-card-text {

  align-items: center;
  padding-left: 50px;
  padding-top: 20px;

}
