.card-game {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(165, 144, 144, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;


  &:hover {
    transform: scale(1.02);
    text-decoration: none;
  }

  img {
    height: 100%;
    width: 160px;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
}

.card-content {
  margin: 16px 32px;
  width: 100%;
}

.card-text {

  h2 {
    color: $gray;
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 8px;
  }

  p {
    color: $gray;
    font-size: 14px;
    font-weight: medium;
    margin-bottom: 12px;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .category {
    background-color: $light-gray;
    color: $dark-gray;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 30px;
    opacity: 0.8;
    margin: 0px;
  }
}
