.card-game {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 24px;
  border-radius: 16px;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    text-decoration: none;
  }

  img {
    height: 100%;
  width: 160px;
  object-fit: cover;
  }

  h2 {
    color: $gray;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  .category {
    background-color: $blue;
    color: white;
    width: fit-content;
    padding: 8px;
    border-radius: 30px;
    opacity: 0.8;
  }
}

a {
  text-decoration: none;
}

.card-text {
  margin-left: 32px;

  p {
    color: $gray;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 8px;
    font-weight: medium;
  }
}

.card-details {
  display: flex;

//   align-items: flex-end;
//   justify-content: space-between;

//   h5 {
//     margin-bottom: 0px;
//   }
}
